@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body{
    background-color: white;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navContainer {
    position: fixed; /*Элемент будет зафиксирован*/
    top: 0; /*Верхний край элемента будет прикреплен к верху страницы*/
    width: 100%; /*Ширина контейнера, чтобы он занимал всю ширину страницы*/
    background-color: #333; /*Задаем фон, чтобы текст не наезжал на контент при прокрутке*/
    z-index: 3; /*Устанавливаем z-index, чтобы навигация была поверх других элементов*/
    padding: 0 20px; /* Добавляем немного отступа слева и справа */
    height: 60px; /* Задаем высоту для навигационного контейнера */
    justify-content: center;
    text-align: right;
}

/* Стиль для активной ссылки */
#navContainer .active {
    color: #ffa500; /* или другой стиль, который вы предпочитаете */
}

nav {
    display: flex; /* Делаем навигацию горизонтальной */
    justify-content: center; /* Центрирование для всех ссылок внутри nav */
    width: 100%; /* Занимаем 100% ширины navContainer */
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 30px;
    transition: background-color 0.3s ease-in-out, color 0.3s;
}

nav a:hover{
    background-color: #444444;
}

/* Выделяем элемент с классом .home и выравниваем его слева */
nav .first-row {
    margin-right: auto; /* Отталкиваем все остальные ссылки вправо */
}

.nav-bars {
    display: none;
    box-sizing: border-box;
    padding: 1rem;
    cursor: pointer;
}

section{
    height: 100vh;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#about {
    display: flex; /* Используем Flexbox */
    flex-direction: column; /* Стекаем элементы вертикально */
    justify-content: center; /* Центрируем содержимое по вертикали */
    align-items: center; /* Центрируем содержимое по горизонтали */
    height: 100vh;
    font-size: 2rem;
    background-image: url('bg.jpg');
}

#about h2{
    font-family: 'Cutive Mono', sans-serif;
    font-weight: bold;
}

.typing {
    font-size: 26px;
    font-family: 'Cutive Mono', sans-serif;
    font-weight: bold;
    max-width: 100%; /* Максимальная ширина текста для лучшего чтения */
    margin-bottom: 100px;
}

#hiddenText {
    max-width: 80%; /* Максимальная ширина текста для лучшего чтения */
}

.hidden {
    font-size: 1.4rem;
    opacity: 0; /* Скрыть текст для плавного появления */
    transition: opacity 1s ease; /* Плавное изменение прозрачности */
}

.hidden a{
    text-decoration: none;
    color: black;
    transition: color 0.3s, transform 0.3s;;
}

.hidden a:hover{
    color: #ffa500;
    transform: translateY(-5px);
}

#skills::before {
    content: ""; /* Убираем текст из содержимого */
    display: block; /* Делаем элемент блочным для настройки ширины и высоты */
    margin: 0 auto; /* Центрируем блок по горизонтали */
    width: 100%; /* Ширина линии, можете настроить под свои нужды */
    height: 1px; /* Высота линии */
    background: #333; /* Цвет линии */
    margin-bottom: 20px; /* Отступ снизу, чтобы отделить от текста раздела */
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Центрирует текст внутри блоков */
    background-image: url('skills_bg.jpg');
}
  
#skills h2 {
    margin-bottom: 20px; /* Отступ заголовка от секции навыков */
}
  
.skills-slider {
    width: 40%; /* Определяет ширину слайдера */
    padding: 20px; /* Отступ внутри блока, чтобы контент не прилипал к границам */
    background: white; /* Фон для слайдера */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень с эффектом размытия */
    margin-top: 20px; /* Отступ сверху */
    align-self: center; /* Центрировать слайдер по горизонтали относительно родителя */
    opacity: 1;
}
  
.skills-section {
    display: none; /* Скрыть секции по умолчанию */
}

.skills-section.active {
    display: flex;
    justify-content: center; /* Центрирование навыков по горизонтали */
    flex-wrap: wrap;
}
  
.skills-section h3 {
    width: 100%; /* Заставляет заголовок занимать всю ширину, чтобы он был над колонками */
    margin-bottom: 10px; /* Отступ заголовка от навыков */
}
  
.skill {
    width: calc(50% - 10px); /* Расчет ширины каждого навыка с учетом отступов */
    margin: 5px; /* Отступы вокруг навыка */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине элемента */
}
  
#skills i{
    font-size: 20px;
    transition: transform 0.5s;
}

#skills img{
    transition: transform 0.5s;
}

.skill p {
    position: relative; /* для позиционирования абсолютно позиционированных дочерних элементов */
    overflow: hidden; /* скрыть любые дочерние элементы, выходящие за границы */
    transition: transform 0.5s;
}

.base-knowledge {
    position: absolute; /* Абсолютное позиционирование внутри p */
    right: 0; /* Размещаем в самом правом крае p */
    white-space: nowrap; /* Чтобы текст не переносился */
    transform: translateX(100%); /* Начальное положение справа за пределами видимости */
    opacity: 0; /* Сделать текст полностью прозрачным */
    transition: transform 0.5s ease, opacity 0.5s ease; /* Анимация для перемещения и видимости */
}

.skill:hover .base-knowledge {
    transform: translateX(0%); /* Возвращаем на видимую часть при наведении */
    opacity: 1; /* Сделать текст видимым */
}

.skill:hover i, .skill:hover img {
    transform: scale(1.5);
}

.hard-skills .skill:hover p {
    transform: translateX(-30px);
}

/* Ключевые кадры для анимации вращения */
@keyframes flip {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

/* Класс для анимации */
.flip-in {
    animation: flip 0.7s ease-out;
}

.toggle {
    cursor: pointer;
    color: black;
    background-color: #f8f9fa; /* Цвет фона кнопки */
    border: 1px solid #ddd; /* Граница кнопки */
    padding: 10px 20px; /* Внутренний отступ кнопки */
    margin-top: 20px; /* Отступ сверху */
    border-radius: 5px; /* Скругление углов */
    transition: background-color 0.3s, color 0.3s; /* Анимация для цвета и фона */
}

.toggle:hover {
    background-color: #e2e6ea; /* Цвет фона при наведении */
    color: #495057; /* Цвет текста при наведении */
}
  
#projects::before {
    content: ""; /* Убираем текст из содержимого */
    display: block; /* Делаем элемент блочным для настройки ширины и высоты */
    margin: 0 auto; /* Центрируем блок по горизонтали */
    width: 100%; /* Ширина линии, можете настроить под свои нужды */
    height: 1px; /* Высота линии */
    background: #333; /* Цвет линии */
    margin-bottom: 20px; /* Отступ снизу, чтобы отделить от текста раздела */
}

#projects {
    position: relative; /* Для позиционирования кнопок */
    height: auto;
}

#projects .slider {
    overflow: hidden; /* Скрываем элементы за пределами слайдера */
}

#projects .slide {
    display: none; /* Скрыть все слайды */
    opacity: 0;
    transition: opacity 0.5s ease; /* Плавная анимация */
}

#projects .slide.active {
    display: flex;; /* Показать активный слайд */
    flex-direction: column;
    align-items: flex-start; /* Выравнивание содержимого слева */
    padding: 20px; /* Дополнительный отступ внутри слайда */
    opacity: 1;
}

#projects .slide h3 {
    font-size: 24px; /* Увеличение размера шрифта заголовка */
    align-self: flex-start;
    margin-bottom: 35px; /* Отступ заголовка от описания проекта */
    transition: color 0.3s ease; /* Анимация для цвета заголовка */
}

#projects .slide:hover h3 {
    color: #ffa500; /* Цвет заголовка при наведении */
}

#projects .content {
    font-size: 1.2rem;
    flex-grow: 1; /* Заставляет содержимое занимать всё доступное пространство */
}

#projects .project-description {
    text-align: left;
    width: 80%; /* Ограничение ширины описания проекта */
    margin-bottom: 50px; /* Отступ описания проекта от списка технологий */
}

#projects .technologies-used {
    align-self: center; /* Выравнивание списка технологий по центру слайда */
    text-align: left;
    width: auto;
    max-width: 80%; /* Ограничение ширины списка технологий, чтобы он не растягивался на всю ширину */
    border-top: 1px solid #ccc; /* Линия над использованными технологиями */
    padding-top: 50px; /* Отступ от линии до текста */
    transition: color 0.3s ease, transform 0.3s; /* Анимация для цвета и трансформации */
}

#projects .technologies-used i,
#projects .technologies-used img {
    margin-right: 10px; /* Отступ справа для каждого элемента */
    margin-left: 10px; /* Отступ слева для первого элемента */
    transition: transform 0.5s;
}

#projects .technologies-used i{
    font-size: 20px;
}

#projects .technologies-used:hover i, 
#projects .technologies-used:hover img {
    transform: scale(1.5);
}

#projects button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    background-color: white; /* Цвет фона кнопки */
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease; /* Анимация для цвета и фона */
}

#projects button:hover{
    color: #ffa500; /* Цвет текста кнопки при наведении */

}

#projects button.prev { 
    left: 20px;
    margin-left: -35px; 
}

#projects button.next { 
    right: 20px; /* Отступ справа */
    margin-right: -35px; 
}

#projects .slider-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 10px 0; /* Отступ сверху и снизу для разделения от контента слайдера */
}

#projects .slide-number {
    margin: 0 20px; /* Отступы вокруг номера слайда */
    font-size: 18px; /* Размер шрифта номера слайда */
}

#projects .bellow-text {
    text-align: center;
    display: block;
    margin-top: 10%;
    padding: 20px 0;
    text-decoration: none;
    font-size: 1.2rem;
}

#projects a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

#projects a:hover {
    color: #ffa500;
}

#interests::before {
    content: ""; /* Убираем текст из содержимого */
    display: block; /* Делаем элемент блочным для настройки ширины и высоты */
    margin: 0 auto; /* Центрируем блок по горизонтали */
    width: 100%; /* Ширина линии, можете настроить под свои нужды */
    height: 1px; /* Высота линии */
    background: #333; /* Цвет линии */
    margin-bottom: 20px; /* Отступ снизу, чтобы отделить от текста раздела */
}

#interests {
    position: relative;
}

.background-blur{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('brain.webp'); /* Ваше фоновое изображение */
    background-size: contain;
    background-position: center;
    filter: none; /* Изначально без размытия */
    transition: filter 0.5s ease; /* Плавное добавление размытия */
    z-index: -1; /* Убедитесь, что фон находится под текстом и элементами */
}

#interests.blur .background-blur {
    filter: blur(5px); /* Применяется размытие */
    transition: filter 0.5s ease; /* Плавное добавление размытия */
}
  
.brain-quadrant {
    position: absolute;
    width: 50%;
    height: 50%;
    overflow: hidden;
}

.brain-text {
    font-size: 7rem; /* Или ваш размер */
    color: black; /* Цвет текста */
    transition: transform 0.8s ease;
    z-index: 2;
}

.brain-hidden-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem; /* Или ваш размер */
    font-weight: bold;
    color: black;
    visibility: hidden; /* Изначально текст невидим */
    opacity: 0;
    transition: visibility 0s ease 0s, opacity 0.5s ease;
    z-index: 1;
}
  
#top-left { top: 0; left: 0; }
#top-right { top: 0; right: 0;}
#bottom-left { bottom: 0; left: 0; }
#bottom-right { bottom: 0; right: 0; }
  
/* Смещение начального текста в углы при наведении */
#top-left:hover .brain-text { transform: translate(-100%, -100%); }
#top-right:hover .brain-text { transform: translate(100%, -100%); }
#bottom-left:hover .brain-text { transform: translate(-100%, 100%); }
#bottom-right:hover .brain-text { transform: translate(100%, 100%); }

/* Показываем скрытый текст при наведении */
.brain-quadrant:hover .brain-hidden-text {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s ease 0s, opacity 0.5s ease;
}
  
#contact::before {
    content: ""; /* Убираем текст из содержимого */
    display: block; /* Делаем элемент блочным для настройки ширины и высоты */
    margin: 0 auto; /* Центрируем блок по горизонтали */
    width: 100%; /* Ширина линии, можете настроить под свои нужды */
    height: 1px; /* Высота линии */
    background: #333; /* Цвет линии */
    margin-bottom: 20px; /* Отступ снизу, чтобы отделить от текста раздела */
}

#contact {
    position: relative;
    padding-bottom: 25px;
    height: 70vh;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-top: 120px;
    padding: 0 20px;
}

.contact-form,
.contact-icons {
    /* Убедитесь, что оба эти элемента могут уместиться в одном ряду. */
    flex: 1; /* каждый элемент занимает 1 часть доступного пространства */
}

.contact-icons {
    /* выравниваем иконки по правому краю */
    display: flex;
    justify-content: center; /* выравнивание иконок по правой стороне */
}

/* Убедитесь, что у формы и иконок достаточное пространство для соседствования */
.contact-form {
    max-width: 50%; /* форма занимает не более 60% ширины родителя */
}

.contact-icons {
    max-width: 50%; /* иконки занимают не более 40% ширины родителя */
    flex-wrap: wrap; /* если иконки не умещаются, они перенесутся на новую строку */
}

.contact-form label {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

.contact-form input[type="email"],
.contact-form textarea {
    padding: 5px;
    border: 2px solid #333;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
    font-size: 15px;
}

.contact-form input[type="email"] {
    width: 200px;
}

.contact-form textarea {
    width: 90%;
}

.contact-form button {
    width: 100px;
    padding: 10px;
    border: 2px solid #333;
    background-color: #333;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
}

.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    outline: 2px solid #333;
}

.contact-icons a {
    font-size: 5rem;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    display: inline;
}

#thankyouMessage {
    display: none; /* Измените на flex когда нужно отобразить сообщение */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    height: 120px;
    width: 300px;
    padding: 15px;
    border: 3px solid #333;
    border-radius: 20px;
    background-color: #333;
    color: white;
    animation: message 0.5s ease;
}

@keyframes message {
    from { opacity: 0; transform: translate(-50%, -50%) scale(0.6); }
    to { opacity: 1; transform: translate(-50%, -50%) scale(1); }
}
